
@font-face {
  font-family: 'CharlevoixPro-Bold';
  src: url('CharlevoixPro-Bold.eot?#iefix') format('embedded-opentype'),  url('CharlevoixPro-Bold.otf')  format('opentype'),
	     url('CharlevoixPro-Bold.woff') format('woff'), url('CharlevoixPro-Bold.ttf')  format('truetype'), url('CharlevoixPro-Bold.svg#CharlevoixPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
