
@font-face {
  font-family: 'RoundedElegance-Regular';
  src: url('RoundedElegance-Regular.eot?#iefix') format('embedded-opentype'),  url('RoundedElegance-Regular.woff') format('woff'), url('RoundedElegance-Regular.ttf')  format('truetype'), url('RoundedElegance-Regular.svg#RoundedElegance-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
